*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family: 'Gilroy';



}

html,body{
    height:89%;
    width:80%;

}
img{
    /* box-shadow: 10px 10px 20px black; */
    filter:drop-shadow(10px 10px 20px black);
    height:100%;
    width:100%;
    background-color: white;
}

